BILILIVENOTIBOT_TGBOT_TOKEN="114514:aabbccdd"

BILILIVENOTIBOT_TG_CHAT_ID="114514"

BILILIVENOTIBOT_TIMEZONE="Asia/Shanghai"

BILILIVENOTIBOT_POLL_INTERVAL="15"

BILILIVENOTIBOT_SUBSCRIBED_ROOMS="114, 1, 3"